body {
    margin: 0;
    background-color: #f2f2f2;
}

.logo {
    display: flex;
    background-color: #EA5045;
    height: 50vw;
    width: 100vw;
    justify-content: center;

}

#logobilled {
    width: 40vw;
    height: 20vw;

}

#logind {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
}

/* style the container */
.logindfacebook {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn {
    display: flex;
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btn:hover {
    opacity: 2;
}

.fb {
    background-color: #f2f2f2;
    color: #EA5045;
    outline: solid #EA5045;
}

/* style the submit button */
input[type=submit] {
    background-color: #EA5045;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EA5045;
}

/**************************************** forside ***************************/


.logo1 {
    text-align: center;
    margin: 0 auto;
}

/*Burgermenu*/
.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3F3140;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top: 30px;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}


.menulist {
    width: 200px;
}

line1,
.line2,
.line3 {
    margin-top: 5px;
    background-color: #FFFFFF;
    width: 25px;
    height: 3px;
    display: block;
    position: relative;
    opacity: 1.0;
    border-radius: 15%;
    transition: all .3s;
}

.line1.active {
    transform: rotate(270deg);
    opacity: 0.0;
    background-color: #FFFFFF;
    top: 5px;
}

.line2.active {
    transform: rotate(45deg);
    background-color: #FFFFFF;
}

.line3.active {
    transform: rotate(-45deg);
    background-color: #FFFFFF;
    top: -7px;
}

.menuitems {
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #F58E81;
    opacity: 0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .2s;
}

.menuitems:hover::after {
    width: 100%;
}

#closebtn {
    height: 25px;
    width: 25px;
    position: absolute;
    text-decoration: none;
    top: 10px;
    left: 450px;
    font-size: 36px;
    z-index: 100;
    color: #fff;
    cursor: pointer;
    transition: background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align: center;
    margin: auto;
    padding: 16px;
    font-size: 30px;
}

.col1 {
    display: flex;
    flex-direction: row;

}

.col1 .box {
    flex-grow: 1;
    border: solid #FFB4AA;
    height: 100px;
    width: 10px;
}

.col2 {
    display: flex;
    flex-direction: row;
}

.box2 {
    flex-grow: 2.1;
    border: solid #FFB4AA;
    height: 100px;
    width: 10px;
}

.col2 .box {
    flex-grow: 1;
    border: solid #FFB4AA;
    height: 100px;
    width: 10px;
}

.col3 {
    display: flex;
    flex-direction: row;
}

.col3 .box {
    flex-grow: 1;
    border: solid #FFB4AA;
    height: 100px;
    width: 10px;


}

#favoritlogo {
    height: 20vw;

}

.col4 {
    display: flex;
    flex-direction: row;
}

.boxwrapper {
    display: flex;
    flex-direction: column;
}

.boxwrapper .box {
    flex-grow: 1;
    border: solid #FFB4AA;
    height: 100px;
    width: 161px;
}

.box3 {
    flex-grow: 2.1;
    border: solid #FFB4AA;
    height: 210px;
    width: 10px;
}

.col5 {
    display: flex;
    flex-direction: row;
}

.col5 .box {
    flex-grow: 1;
    border: solid #FFB4AA;
    height: 100px;
    width: 10px;
}
