body {
    margin: 0;
    background-color: #FAF7F7;
}

p {
    margin-left: 2vw;
}

h1 {
    color: #F58E81;
    font-size: 15vw;
    margin-top: 20vw;

}

h2 {
    color: #F58E81;
    font-size: 10vw;
}

h3 {
    color: #F58E81;
    font-size: 5vw;

}

h4 {
    color: #ffff;
    font-size: 4vw;

}

h5 {
    font-size: 3vw;
    margin-left: 2vw;

}

h6 {
    margin: 0px;
    color: #F58E81;
    font-size: 3vw;
}


/********************************LOG IND************************/

.logo {
    display: flex;
    background-color: #EA5045;
    height: 50vw;
    width: 100vw;
    justify-content: center;

}

#logobilled {
    width: 40vw;
    height: 20vw;
    margin-top: 50px;

}

#logind {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;

}

/* style the container */
.logindfacebook {
    background-color: #f2f2f2;


}

/* style inputs and link buttons */
input {
    width: 50vw;
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin: 20px 20px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;

}

input:hover {
    opacity: 2;
}

.fb {
    background-color: #f2f2f2;
    color: #EA5045;
    outline: solid #EA5045;
}

/* style the submit button */
input[type=submit] {
    background-color: #EA5045;
    color: white;
    cursor: pointer;
    margin-left: 35px;
}

input[type=submit]:hover {
    background-color: #EA5045;
}

.continue {
    margin-top: 40px;
}

.brugernavn {
    margin-top: 30px;
}

/******************************Burgermenu*************************/

#menu {
    background-color: #3F3140;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    transition: transform .5s;
}

#menulist {
    text-align: center;
    padding: 20px;
    background-color: #3F3140;

}

#keaicon {
    width: 200px;
    text-align: center;
    margin-top: 50px;
    margin-left: 150px;
}

.keaimg {
    text-align: center;
}

#menuknap {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 2rem;
    color: white;
    width: 8vw;
}

.hidden {
    visibility: hidden;
}


#logud {
    background-color: #EA847C;
    padding: 1px;
    margin-top: 165px;
}

a:link {
    text-decoration: none;
}

/*************************burgermenu slut************************/
/************************** forside ***************************/

.title {
    background-color: #EA5045;
    height: 10vw;
    display: flex;
    justify-content: space-between;
}

#headerright {
    position: relative;
    width: 20vw
}

#titlelogo {
    margin-left: 2vw;
    margin-top: 2vw;
}

#titleprofil {
    position: absolute;
    top: 2vw;
    width: 5vw;
}

#burgericon {
    position: absolute;
    top: 2vw;
    right: 5vw;
    width: 5vw;
}

.col1,
.col2,
.col3,
.col4,
.col5 {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 10px;
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
}

.box:hover {
    background-color: #F58E81;
}

.box2:hover {
    background-color: #F58E81;
}

.box3:hover {
    background-color: #F58E81;
}

h1:hover {
    color: #ffff;
}

h2:hover {
    color: #ffff;
}

h6:hover {
    color: #ffff;
}


.box2 {
    background-color: white;
    width: 300px;
    height: 150px;
    margin: 10px;
    flex-basis: 100px;
    flex-grow: 4.5;
}

.box3 {
    background-color: white;
    width: 300px;
    height: 310px;
    margin: 10px;
    flex-basis: 100px;
    flex-grow: 4.5;
}

.icon {
    width: 60px;
    margin-top: 35px;
}

.icon:hover {}

.icon2 {
    width: 70px;
    margin-top: 35px;
    margin-bottom: 10px;
}

/*****************************afleveringer********************/

.aflevering h3 {
    color: black;
    margin: 1vw;
    padding: 2vw;
}

.aflevering h4 {
    color: #EA5045;
    padding-left: 3vw;
    margin-top: 10vw;
}

.aflevering {
    background-color: #ffff;
}

#neasteaflevering,
#upload {
    background-color: #DEDCDB;
    margin: 3vw;
    display: flex;
    justify-content: space-between;
}

#tema1 {
    background-color: #DEDCDB;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
}

#down1 {
    height: 5vw;
    width: 5vw;

}

#tema2,
#tema3,
#tema4 {
    background-color: #DEDCDB;
    margin: 3vw;
}

#opgave {
    border-bottom: solid #DEDCDB;
    border-left: solid #DEDCDB;
    border-right: solid #DEDCDB;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;

}

.hidden_none {
    display: none;
}

/***************************Skema********************************/

#topcol {
    background-color: #DEDCDB;
    display: flex;
    justify-content: space-between;
}

#topcol h3 {
    color: #000000;
    margin-left: 3vw;
    margin-bottom: 0vw;
    margin-top: 2vw;
}

#topcol h4 {
    color: #707070;
    margin-right: 3vw;
    margin-bottom: 0vw;
    margin-top: 3vw;
}

#text1 h5 {
    color: #707070;
    margin-left: 3vw;
    margin-bottom: 3vw;
    margin-top: 2vw;
}

#text2 h5 {
    color: #707070;
    margin-bottom: 3vw;
    margin-top: 2vw;
}

#måned {
    background-color: #3f3140;
    display: flex;
    justify-content: center;
}

#måned img {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 5vw;
    margin-top: 15vw;
}

#text3 {
    text-align: center;
}

#text3 p {
    color: #ffff;
    margin: 0;
}

#modul1 h4 {
    color: #dedcdb;
    font-size: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;

}

#tid1,
#tid2 {
    background-color: #ffff;
    border-bottom: solid #dedcdb;
    padding: 1vw;
    width: 98vw;
}

#modul1 {
    display: flex;


}

#ideogdesign {
    background-color: #dedcdb;
    position: fixed;
    left: 15vw;
    width: 80vw;
}
