body {
    margin: 0;
    background-color: #FAF7F7;
}

label {
    font-size: 2.5vw;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-left: 2vw;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #F58E81;
    font-size: 15vw;
    margin-top: 20vw;
    margin-left: 2vw;
    font-family: 'Montserrat', sans-serif;

}

h2 {
    color: #F58E81;
    font-size: 10vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
}

h3 {
    color: #F58E81;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;

}

h4 {
    color: #ffff;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;

}

h5 {
    font-size: 3vw;
    margin-left: 2vw;
    font-family: 'Montserrat', sans-serif;

}

h6 {
    margin: 0px;
    color: #F58E81;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
}

a:link {
    text-decoration: none;
}

/********************************LOG IND************************/

.logo {
    display: flex;
    background-color: #EA5045;
    height: 50vw;
    width: 100vw;
    justify-content: center;

}

#logobilled {
    width: 40vw;
    height: 20vw;
    margin-top: 50px;

}

#logind {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;

}

.logindfacebook {
    background-color: #f2f2f2;
    margin-left: 5vw;
}

input {
    width: 50vw;
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin: 4vw 4vw;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;

}

input:hover {
    opacity: 2;
}

.fb {
    background-color: #f2f2f2;
    color: #EA5045;
    outline: solid #EA5045;
    text-align: center;
}

input[type=submit] {
    background-color: #EA5045;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EA5045;
}

.continue {
    margin-top: 10vw;
    margin-left: 7vw;
}


.brugernavn {
    margin-top: 5vw;
    margin-left: 3vw;
}

.password {
    margin-left: 3vw;
}

.huskmig {
    position: relative;
    top: -12vw;
    left: 44vw;
}

.huskmig input {
    margin: 1vw;
    width: 5vw;
}

#logind p {
    font-size: 2.5vw;
    color: #F58E81;
}

.glemtpassword {
    position: relative;
    top: -5.5vw;
    left: 6vw;
}

/******************************Burgermenu*************************/

#menu {
    background-color: #3F3140;
    margin: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    transition: transform .5s;
}

#menulist {
    text-align: center;
    padding: 20px;
    background-color: #3F3140;

}

#keaicon {
    text-align: center;
    margin-top: 10vw;

}

.keaimg {
    text-align: center;
}

#menuknap {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 2rem;
    color: white;
    width: 8vw;
}

.hidden {
    visibility: hidden;
    /*    opacity: 0;*/

}


#logud {
    background-color: #EA847C;
    padding: 1vw;
    margin-top: 35vw;

}

a:link {
    text-decoration: none;
}

#togglemenu a:hover {
    text-decoration: underline #ffff;
}

/*************************burgermenu slut************************/
/************************** forside ***************************/

.title {
    background-color: #EA5045;
    height: 10vw;
    display: flex;
    justify-content: space-between;
}

#headerright {
    position: relative;
    width: 20vw
}

#titlelogo {
    margin-left: 2vw;
    margin-top: 2vw;
}

#titleprofil {
    position: absolute;
    top: 2vw;
    width: 5vw;
}

#burgericon {
    position: absolute;
    top: 2vw;
    right: 5vw;
    width: 5vw;
}


.item:hover {
    background-color: #DEDCDB;
}

.container {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 30vw 30vw 30vw 30vw 30vw 30vw;
    grid-gap: 2vw;
    margin-left: 3vw;
    margin-top: 3vw;
}

.item {
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.item-4 {
    grid-column: 1 / span 2;
}

.item-10 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
}

.item img {
    width: 10vw;
    margin-top: 5vw;
    margin-left: 2vw;
}

.item-2 h6,
.item-8 h6 {
    margin-left: 2vw;
}

.item-5 h6,
.item-11 h6 {
    margin-left: 3vw;
}

.item-12 img {
    margin-left: 4vw;
}

.item-5 img {
    margin-left: 1vw;
}

.item-3 img {
    margin-left: 4vw;
}

/*****************************afleveringer********************/

.aflevering h3 {
    color: black;
    margin: 1vw;
    padding: 2vw;
    font-weight: bold;
}

.aflevering h4 {
    color: #EA5045;
    padding-left: 3vw;
    margin-top: 10vw;
    font-weight: bold;
}

.aflevering {
    background-color: #ffff;
}

.neasteaflevering,
#upload {
    background-color: #DEDCDB;
    margin: 3vw;
    display: flex;
    justify-content: space-between;
}

#afllogo {
    position: relative;
    top: 11vw;
    left: -1vw;
}

#afllogo img {
    width: 8vw;
}

.dokument img {
    width: 5.5vw;
}

.dokument {
    position: relative;
    top: 14vw;
    left: -1vw;
}

#tema1 {
    background-color: #DEDCDB;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
}

#down1 {
    height: 5vw;
    width: 5vw;
    position: absolute;
    top: 138vw;
    left: 90vw;

}

#op {
    position: relative;
    top: 15vw;
    right: 2.5vw;
}

.down {
    height: 5vw;
    width: 5vw;
    position: relative;
    top: 15vw;
    right: 2vw;
}

#tema2,
#tema3,
#tema4 {
    background-color: #DEDCDB;
    margin: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
}

.opgave {
    border-bottom: solid #DEDCDB;
    border-left: solid #DEDCDB;
    border-right: solid #DEDCDB;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;

}

.opgave img {
    width: 5.5vw;

}

.hidden_none {
    display: none;
}

.aflevering img {
    width: 5vw;
}

/***************************Skema********************************/

#topcol {
    background-color: #DEDCDB;
    display: flex;
    justify-content: space-between;
}

#topcol h3 {
    color: #000000;
    margin-left: 3vw;
    margin-bottom: 0vw;
    margin-top: 2vw;
}

#topcol h4 {
    color: #707070;
    margin-right: 3vw;
    margin-bottom: 0vw;
    margin-top: 3vw;
}

#text1 h5 {
    color: #707070;
    margin-left: 3vw;
    margin-bottom: 3vw;
    margin-top: 2vw;
}

#text2 h5 {
    color: #707070;
    margin-bottom: 3vw;
    margin-top: 2vw;
}

#måned {
    background-color: #3f3140;
    display: flex;
    justify-content: center;
    height: 19vw;
}

#måned img {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 4vw;
    margin-top: 8vw;
}

#text3 {
    text-align: center;
}

#text3 p {
    color: #ffff;
    margin: 0;
}

#måned h4 {
    margin: 1vw;
}

#modul1 h4,
#modul2 h4,
#modul3 h4,
#modul4 h4 {
    color: #dedcdb;
    font-size: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;

}

#tid1,
#tid2,
#tid3,
#tid4,
.tid5,
.tid6 {
    background-color: #ffff;
    border-bottom: solid #dedcdb;
    padding: 1vw;
    width: 98vw;
}

#modul1,
#modul2,
#modul3,
#modul4 {
    display: flex;


}

#ideogdesign {
    background-color: #dedcdb;
    position: absolute;
    left: 15vw;
    width: 80vw;
    height: 24vw;
}

#ideogdesignikon1 {
    position: relative;
    left: 72vw;
    top: -11vw;
}

#ideogdesignikon1 img {
    width: 6vw;
}

#ideogdesignikon2 {
    position: relative;
    left: 74vw;
    top: -10vw;
}

#ovelser {
    background-color: #dedcdb;
    position: absolute;
    left: 15vw;
    width: 80vw;
    margin-top: 3.5vw;
    height: 24vw;
}

#ovelserikon {
    position: relative;
    left: 74vw;
    top: -10vw;
}

#tid3,
.tid5 {
    margin-top: 3vw;
    border-top: solid #dedcdb;
}

#arbejdselv {
    background-color: #dedcdb;
    position: absolute;
    left: 15vw;
    width: 80vw;
    margin-top: 3.5vw;
    height: 12vw;
}

#arbejdselvikon {
    position: relative;
    left: 72vw;
    top: -11vw;
}

#arbejdselvikon img {
    width: 6vw;
}

#modul1 h3,
#modul2 h3,
#modul3 h3 {
    color: black;
    font-size: 3vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
}

#modul1 p,
#modul2 p,
#modul3 p {
    font-size: 2.5vw;
    margin-top: 0vw;
}

/*********************************Materialer**********************/
#styletile {
    background-color: #DEDCDB;
    margin: 3vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100vw;
}

.materiale {
    position: relative;
    top: 14vw;
    right: 2vw;
}

.materiale img {
    width: 5vw;
}

footer {
    background-color: #3f3140;
    display: flex;
    justify-content: center;
}

footer p {
    color: #ffff;
}

/********************mediaquries**********************/
@media only screen and (min-width:660px) {

    /*****logind*****/
    #logind {
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .logo {
        height: 25vw;
    }

    input {
        width: 30vw;
        margin-left: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .huskmig {
        position: relative;
        top: -4vw;
        left: 26vw;
    }

    .huskmig input {
        margin: 1vw;
        width: 5vw;
    }

    label {
        font-size: 1vw;
    }

    #logind p {
        font-size: 1vw;
        color: #F58E81;
    }

    .glemtpassword {
        position: relative;
        top: -1vw;
        left: 3vw;
    }

    .continue {
        margin-top: 1vw;
        margin-left: 4.5vw;
    }

    .logindfacebook {
        margin-left: 4vw;
    }

}
